
// set your custom colors here
$siteBgColorCustom: #ffffff;         // cultured
$sidebarBgColorCustom: #fbf9f9;      // lavendar blush
$textColorCustom: #38383A;           // onyx
$sidebarTextColorCustom: #020202;    // black

$headlineColorCustom: #300000;       // rifle green 
$headingColorCustom: #5B0B15;        // rosewood

$bodyLinkColorCustom: #490910;       // black bean
$navLinkColorCustom: #6D0D19;        // persian plum
$sidebarLinkColorCustom: #490910;    // rifle green 

$footerTextColorCustom: #38383A;     // onyx

$buttonTextColorCustom: #F5F5F4;
$buttonHoverTextColorCustom: #F5F5F4;

$buttonBgColorCustom: #6D0D19;       // persian plum
$buttonHoverBgColorCustom: #490910;  // black bean

$borderColorCustom: #C4B1B2;         // silver pink
